form
    max-width: 400px
    width: 50%
    height: 100%
    padding: 20px
    border: 1px solid #ccc
    border-radius: 5px
    background-color: #f9f9f9
#main-box
    background-image: url('/library.jpg')
    height: 100vh

@media(max-width: 768px)
    #main-box
        display: flex
        justify-content: center !important
        form
            width: 100% !important
            height: 400px
