#main-box
    background-image: url('/logo/colecao-livros.png')
    height: 100vh
    background-size: cover
    form
        background-color: rgb(255, 255, 255)
        padding: 2rem
        border-radius: 0.5rem
        width: 50%
        max-width: 400px

@media(max-width: 768px)
    #main-box
        form
            width: 80%